.header{
    font-family: Palatino, 'Palatino Linotype', serif;
    color: rgb(46,105,163);
    font-size: 3rem;
}
.about{
    font-family: Palatino, 'Palatino Linotype', serif;
    background-color: black;
    color: white;
}

nav li{
    display: inline;
}

.gallery{
    color: red;
    
}

.contact a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
  position: relative;

}

.contact a:active {
  top: 2px;
}
