.header{
    font-family: Palatino, 'Palatino Linotype', serif;
    color: rgb(46,105,163);
    font-size: 3rem;
}
.about{
    font-family: Palatino, 'Palatino Linotype', serif;
    background-color: black;
}
