.header{
    font-family: "Times New Roman", Times, "Lucida Console", "Courier New", monospace;
    color: rgb(46,105,163);
    font-size: 2rem;
}
.about{
    font-family: "Times New Roman", Times, Palatino, 'Palatino Linotype', serif;
    color: white;
    font-size: 10px;
}

nav li{
    display: inline;
}

.gallery{
    color: red;
    
}

.contact a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
  position: relative;

}

.contact a:active {
  top: 2px;
}

.image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
